@import url('https://fonts.googleapis.com/css2?family=Alata&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

:root {
    /* font family*/
    --title-ff: Poppins, "sans serif";
    --navbar-ff: Alata, "sans serif";
    --footer-links-ff: Quicksand, "sans serif";
    --text-ff: Nunito, "sans serif";
    --logo-ff: Alata, "sans serif";
    /* font sizes */
    --title-fs: 20px;
    --navbar-fs: 17px;
    --footer-links-fs: 15px;
    --text-fs: 16px;
    --logo-fs: 24px;
    /* font weight */
    --tittle-fw: 700;
    --navbar-fw: 500;
    --text-fw: 400;
    /* colors */
    --primary-color: #f6f6f6;
    --secondary-color: #111111;
    --white-alt: #e9edf1;
    --faint-black: #888888;

    /*  z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
}

a {
    text-decoration: none;
}

li,
ul {
    list-style: none;
}

.container {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
}

.section{
    margin-top: 4rem;
}